<h1>プロフィール編集</h1>

<%= form_with model: @user do |f| %>

<label for="inputName">Name</label>
 <p><%= f.text_field :name, autofocus: true, id: "InputName", placeholder: "ユーザー名" %></p>

<label for="inputImage">Icon</label>
<p><%= f.file_field :profile_image, placeholder: "ユーザーアイコン", accept: "image/*" %></p>

<label for="inputIntroduct">Introduct</label>
<p><%= f.text_field :introduct, autofocus: true, id: "InputIntroduct", placeholder: "Introduct" %></p>

<label for="inputIntroduct">CarIntroduct</label>
<p><%= f.text_field :car_introduct, autofocus: true, id: "InputIntroduct", placeholder: "Introduct" %></p>

<lanel for="inputCarimage">My Car Photo</label>
  <p><%= f.file_field :car_images, placeholder: "My Car Photo", multiple: true %></p>


<div>

  <% if @user.car_images.attached? %>
   <% @user.car_images.each do |car_image| %>
    <p>削除するものにチェックを付けてください</p>
    <!--チェックボックスを表示-->
    <%= f.check_box :car_image_ids, {multiple: true}, car_image.id, false %>
    <%= image_tag car_image, size: "200x200" %>
   <% end %>
  <% end %>
</div>





<%= f.submit "変更を保存" %>
<% end %>