<h1>User Profile</h1>
<div>
  <p><%= @user.name %>
   <%= image_tag @user.get_profile_image, resize_to_fit: [200, 200] %></p>
   <h4>Introduct</h4>
  <p><%= @user.introduct %><p>
</div>

  <h4>Mycar Introduct</h4>
  <p><%= @user.car_introduct %></p>

  <h4>Mycar Photo</h4>
  <div>
    <% if @user.car_images.attached? %>
    　<% @user.car_images.each do |car_image| %>
       <%= image_tag car_image.variant(resize_to_fit: [200, 200]) %>
      <% end %>
    <% else %>
      <%= image_tag "no_image", size: "200x200" %>
    <% end %>
  </div>

</div>

  <% if @user.id == current_user.id %>
  <%= link_to "編集", edit_user_path %> - <%= link_to "退会", user_check_path(current_user) %>
  <% end %>
</div>

<h4>投稿一覧</h4>
<div>
  <% @post.each do |post| %>
  <p>
  <%= link_to post.title, post_path(post.id) %>
  </p>
  <% end %>
</div>

<%= link_to "いいね一覧", favorites_user_path %>

