<div class="container-breakpoint">
   <div class="row">
     <div class="col-xl-2" style="background-color: gray;">
      <%= render 'users/sidebar', user: @user, tags: @tags %><!--サイドバー-->
     </div><!--サイドパーcol-xl-2-->

      <div class="col-xl-10">
         <!--取得したモデルがUserだった場合はuserの検索結果を表示-->
         <% if @model == "User" %>
          <h3>検索結果：<%= @users.count %>件</h3>

           <div class="row mx-3">
              <% @users.each do |user| %>
              <div class="col-2 mb-3"><!-- 画像部分のcol -->
               <%= link_to user_path(user.id) do %>
                <%= image_tag user.get_profile_image, size: "150x150", class: "img-fluid" %>
               <% end %>
              </div>

              <div class="col-10 mb-3"><!-- テキスト部分のcol -->
                <%= link_to user_path(user.id) do %>
                <h5 class="pt-3 text-secondary"><%= user.name %></h4>
                <p class="text-secondary"><%= user.introduct %></p>
                <% end %><!-- link_to -->
              </div><!-- col-md-9 -->
              <% end %>
           </div><!--user-->

            <% if @users.size == 0 %>
              <h3>見つかりませんでした。</h3>
            <% end %>
      </div><!--col-xl-10-->

          <!--取得したモデルがPostだった場合はpostの検索結果を表示-->
          <% elsif @model == "Post" %>

      <div class="col-xl-12 d-flex flex-wrap">
           <h3 class="w-100">検索結果：<%= @posts.count %>件</h3>
             <% @posts.each do |post| %>

             <div class="border w-25 m-2" style="height: 18rem;">
               <% if post.image1.attached? %>
                <%= image_tag url_for(post.image1.variant(resize_and_pad: [200, 130])), class: "card-img-top " %>
               <% else %>
                <%= image_tag "no_image", size: "200x200" %>
               <% end %>

              <div class="post-body">
                <div class="title ml-3 ">
                  <%= link_to post.title, post_path(post.id), class: "text-dark" %></br>
                  <%= image_tag post.user.get_profile_image, class: "mt-1 rounded-circle text-secondary", size: "25x25" %>
                  <%= link_to post.user.name, user_path(post.user), class: "text-secondary" %>
                </div>

                <div class="favorites comment px-3 text-secondary">
                   ♡<%= post.favorites.count %>
                   <i class="fa-regular fa-comment pl-3"></i>
                   <%= post.post_comments.count %>
                </div>
              </div><!--post-body-->
             </div><!--border-->
             <% end %><!--@posts.each do |post|-->
      </div><!--col-xl-10-->

               <% if @posts.size == 0 %>
                <h3>見つかりませんでした。</h3>
               <% end %>

          <% end %><!--if @mdoel-->

   </div><!--row-->
</div><!--container-->

