<div class="container-breakpoint">
   <div class="row">
     <div class="col-xl-2" style="background-color: gray;">
      <%= render 'users/sidebar', user: @user, tags: @tags %><!--サイドバー-->
     </div><!--サイドパーcol-xl-2-->

      <div class="col-xl-10">
       <div class="search_result">
         <!--取得したモデルがUserだった場合はuserの検索結果を表示-->
         <% if @model == "User" %>
          <h3>検索結果：<%= @users.count %>件</h3>
           <% @users.each do |user| %>
             <p><%= image_tag user.get_profile_image, resize_and_pad: [200, 200] %></p>
             <p><%= link_to user.name, user_path(user.id) %>
           <% end %>
            <% if @users.size == 0 %>
              <h3>見つかりませんでした。</h3>
            <% end %>

          <!--取得したモデルがPostだった場合はpostの検索結果を表示-->
          <% elsif @model == "Post" %>
           <h3>検索結果：<%= @posts.count %>件</h3>
            <% @posts.each do |post| %>
             <p>
              <% if post.image1.attached? %>
               <%= image_tag url_for(post.image1.variant(resize_and_pad: [200, 200])) %></p>
              <% else %>
               <%= image_tag "no_image", size: "200x200" %>
              <% end %>
             <p><%= link_to post.title, post_path(post.id) %>-<%= link_to post.user.name, user_path(post.user) %></p>
             <% end %>

             <% if @posts.size == 0 %>
               <h3>見つかりませんでした。</h3>
             <% end %>

            <!--それ以外の場合は検索結果がありません-->
           <% else %>

          <% end %>
       </div><!--search_result-->
      </div><!--col-xl-10-->
   </div><!--row-->
</div><!--container-->

