<div class="container-breakpoint">
   <div class="row">
     <div class="col-xl-2" style="background-color: gray;">
      <%= render 'users/sidebar', user: @user, tags: @tags %><!--サイドバー-->
     </div><!--サイドパーcol-xl-2-->

      <div class="col-xl-10 d-flex flex-wrap">
         <!--取得したモデルがUserだった場合はuserの検索結果を表示-->
         <% if @model == "User" %>
         <h3 class="w-100">検索結果：<%= @users.count %>件</h3>

             <% @users.each do |user| %>
               <div class="border w-25 m-2 " style="height: 18rem;"><!-- １セットのcol -->
                 <%= link_to user_path(user.id) do %>
                  <%= image_tag user.get_profile_image, size: "150x150", class: "img-fluid" %>
                 <% end %>

                <div class="title ml-3 ">
                  <%= link_to user_path(user.id) do %>
                  <h5 class="pt-3 text-secondary"><%= user.name %></h4>
                  <p class="text-secondary"><%= user.introduct %></p>
                  <% end %>
                </div>
              </div><!--border-->
           <% end %><!--@users.each do |user|-->

           <% if @users.size == 0 %>
             <h3>見つかりませんでした。</h3>
           <% end %>

         <!--取得したモデルがPostだった場合はpostの検索結果を表示-->
         <% elsif @model == "Post" %>
          <h3 class="w-100">検索結果：<%= @posts.count %>件</h3>
          <div class="col-xl-12 d-flex flex-wrap">
           <% @posts.each do |post| %>

             <div class="border w-25 m-2" style="height: 18rem;">
               <% if post.image1.attached? %>
                <%= image_tag url_for(post.image1.variant(resize_and_pad: [200, 130])), class: "card-img-top " %>
               <% else %>
                <%= image_tag "no_image", size: "200x200" %>
               <% end %>

              <div class="post-body">
                <div class="title ml-3 ">
                  <%= link_to post.title, post_path(post.id), class: "text-dark" %></br>
                  <%= image_tag post.user.get_profile_image, class: "mt-1 rounded-circle text-secondary", size: "25x25" %>
                  <%= link_to post.user.name, user_path(post.user), class: "text-secondary" %>
                </div>

                <div class="favorites comment px-3 text-secondary">
                   ♡<%= post.favorites.count %>
                   <i class="fa-regular fa-comment pl-3"></i>
                   <%= post.post_comments.count %>
                </div><!--favorites comment-->

              </div><!--post-body-->
             </div><!--border-->
            <% end %><!--@posts.each do |post|-->

            <% if @posts.size == 0 %>
              <h3>見つかりませんでした。</h3>
            <% end %>
          </div><!--col-xl-12-->

         <% end %><!--if @mdoel-->
    </div><!-- col-xl-10 -->
   </div><!--row-->
</div><!--container-->

