
<!-- postsのデータを取得 -->
<%= form_with(model: @post, url: edit_post_path, local: true) do |f| %>
<h4>Post編集</h4>
<%= f.submit '投稿' %>

<h4>Title</p>
<%= f.text_field :title %>

<p>参考にしたサイトURL</p>
<%= f.text_field :reference_site %>

<p>使用した商品</p>
<%= f.text_field :products_used %>

<% end %>



<!-- processimageのデータを取得 -->
<%= form_with(model: @process_image, url: edit_post_path, local: true) do |f| %>

<h4>作業工程</h4>
<%= f.text_field :text %>

<% end %>
