<div class="container-breakpoint">
  <div class="row">
    <div class="col-xl-2" style="background-color: gray;">
      <%= render 'users/sidebar', user: @user, tags: @tags %><!--サイドバー-->
    </div><!--サイドパーcol-xl-4-->

     <!-- postsのデータを取得 -->
     <%= form_with(model: @post, url: edit_post_path, local: true) do |f| %>

     <h4>Post編集</h4>
       <a>Title</a></br>
        <%= f.text_field :title %></br>

       <a>参考にしたサイトURL</a></br>
        <%= f.text_field :reference_site %></br>


        <a>使用した商品</a></br>
        <%= f.text_field :products_used %></br>

      <% end %>

     <%= form_with(model: @processimage, url: edit_post_path, local: true) do |f| %>
       <a>作業工程</a></br>
        <a>1. </a><%= f.text_area :text1 %><a><%= f.file_field :image1, accept: "image/*" %></a><br/>
        <a>2. </a><%= f.text_area :text2 %><a>写真2</a><br/>
        <a>3. </a><%= f.text_area :text3 %><a>写真3</a><br/>
        <a>4. </a><%= f.text_area :text4 %><a>写真4</a><br/>
        <a>5. </a><%= f.text_area :text5 %><a>写真5</a><br/>
        <a>6. </a><%= f.text_area :text6 %><a>写真5</a><br/>
        <a>7. </a><%= f.text_area :text7 %><a>写真7</a><br/>
        <a>8. </a><%= f.text_area :text8 %><a>写真8</a><br/>
        <a>9. </a><%= f.text_area :text9 %><a>写真9</a><br/>
        <a>10. </a><%= f.text_area :text10 %><a>写真10</a><br/>


        <%= f.submit '投稿' %></br>

     <% end %>

     </div><!--col-md-10-->
   </div><!--row-->
 </div><!--container-->

