
<!-- postsのデータを取得 -->
<%= form_with(model: @post, url: edit_post_path, local: true) do |f| %>
 

<h4>Post編集</h4>



  <a>Title</a></br>
   <%= f.text_field :title %></br>


  <a>参考にしたサイトURL</a></br>
   <%= f.text_field :reference_site %></br>


  <a>使用した商品</a></br>
   <%= f.text_field :products_used %></br>
   
   
  <a>作業工程</a></br>
   <%= f.text_area :text %></br>
   
   <%= f.submit '投稿' %></br>



<% end %>

