<div class="card-list-container-breakpoint">
   <div class="row">
      <div class="col-xl-2" style="background-color: gray;">
        <%= render 'users/sidebar', user: @user, tags: @tags, posts: @posts %><!--サイドバー-->
      </div><!--サイドパーcol-xl-4-->

      <div class="col-xl-10 d-flex flex-wrap">
        <div class="w-100"><%= flash[:notice] %></div>
        <% @posts.each do |post| %>
        <div class="border  m-2" style="height: 15rem; width: 12rem;">
           <% if post.image1.attached? %>
             <%= link_to post_path(post.id) do %>
              <%= image_tag url_for(post.image1.variant(resize_and_pad: [200, 130])),  class: "card-img-top " %>
             <% end %>
           <% else %>
             <%= image_tag 'no_image', size: "200x200" %>
           <% end %>

          <div class="post-body">
            <div class="title ml-3 ">
                <%= link_to post.title, post_path(post.id), class: "text-dark " %></br>
                <%= image_tag post.user.get_profile_image, class: "mt-1 rounded-circle text-secondary", size: "25x25" %>
                <%= link_to post.user.name, user_path(post.user), class: "text-secondary" %>
            </div>

            <div class="favorites comment px-3 text-secondary">
                ♡<%= post.favorites.count %>
                <i class="fa-regular fa-comment pl-3"></i>
                <%= post.post_comments.count %>
            </div>
          </div><!--post-body-->

        </div><!--class="card" style="width: 15rem; height:17rem;-->
        <% end %>
       </div><!--メインコンテンツcol-xl-10-->


   </div><!--row-->
</div><!--container-->