<h1>投稿画面</h1>
<!-- formオブジェクトのインスタンス(@post_form)を指定する　-->
<%= form_with(model: @post_form, url: posts_new_path, local: true)  do |f| %>

  <%= f.label :title, '作業タイトル' %><br/>
    <%= f.text_field :title %><br/>

  <%= f.label :reference_site, '参照サイトURL' %><br/>
    <%= f.text_field :reference_site %><br/>

  <%= f.label :products_used, '使用した商品' %><br/>
    <%= f.text_field :products_used %><br/>

  <%= f.label :text, '作業工程' %><br/>
    <a>1. </a><%= f.text_area :text %><a>写真1</a><br/>
    <a>2. </a><%= f.text_area :text %><a>写真2</a><br/>
    <a>3. </a><%= f.text_area :text %><a>写真3</a><br/>
    <a>4. </a><%= f.text_area :text %><a>写真4</a><br/>
    <a>5. </a><%= f.text_area :text %><a>写真5</a><br/>


  <%= f.submit '投稿する' %><br/>

 <% end %>


