<h1>投稿画面</h1>


<%= form_with model: @post_form do |f| %>
 <%= f.label :title, '作業タイトル' %>
 <%= f.text_field :title %>

 <%= f.label :text, '作業工程' %>
 <%= f.text_field :text %>

 <%= f.label :reference_site, '参照サイトURL' %>
 <%= f.text_field :reference_site %>

 <%= f.label :products_used, '使用した商品' %>
 <%= f.text_field :products_used %>

 <%= f.submit '投稿する' %>

 <% end %>

