<div class="container">
  <div class="row">
    <div class="col-md-12 mt-3">






       <h1>投稿画面</h1>
       <!-- formオブジェクトのインスタンス(@post_form)を指定する　-->
       <%= form_with(model: @post_form, url: posts_new_path, local: true)  do |f| %>

         <%= f.label :title, '作業タイトル' %><br/>
           <%= f.text_field :title %><br/>

         <%= f.label :reference_site, '参照サイトURL' %><br/>
           <%= f.text_field :reference_site %><br/>

         <%= f.label :products_used, '使用した商品' %><br/>
           <%= f.text_field :products_used %><br/>


           <% (1..10).each do |index| %>
            <%= f.label :"text#{index}", "#{index}." %><br/>
            <%= f.text_area :"text#{index}" %> <%= f.file_field :"image#{index}" %><br/>
           <% end %>


        <p>スペースで区切って複数のタグをつけることができます</p>
           <%= f.text_area :name, placeholder: "タグを入力" %><br/>

         <%= f.submit '投稿する' %><br/>

        <% end %>


     </div><!--col-md-12-->
   </div><!--row-->
 </div><!--container-->


