<h3>作業タイトル☆</h3>


 <p>
   <%= @post.title %>
 </p>

<h3>作業工程</h3>


 <p>
   <a>1. <%= @post.processimages.first.text1 %></a>
     <% if @post.image1.attached? %>
      <%= image_tag @post.image1, size: "200x200" %>
     <% else %>
      <%= image_tag "no_image", size: "200x200" %>
     <% end %>
 </p>

 <p>
   <a>2. <%= @post.processimages.first.text2 %></a>
     <% if @post.image2.attached? %>
      <%= image_tag @post.image2, size: "200x200" %>
     <% else %>
      <%= image_tag "no_image", size: "200x200" %>
     <% end %>
 </p>

  <p>
   <a>3. <%= @post.processimages.first.text3 %></a>
     <% if @post.image3.attached? %>
      <%= image_tag @post.image3, size: "200x200" %>
     <% else %>
      <%= image_tag "no_image", size: "200x200" %>
     <% end %>
 </p>

  <p>
   <a>4. <%= @post.processimages.first.text4 %></a>
     <% if @post.image4.attached? %>
      <%= image_tag @post.image4, size: "200x200" %>
     <% else %>
      <%= image_tag "no_image", size: "200x200" %>
     <% end %>
 </p>

  <p>
   <a>5. <%= @post.processimages.first.text5 %></a>
     <% if @post.image5.attached? %>
      <%= image_tag @post.image5, size: "200x200" %>
     <% else %>
      <%= image_tag "no_image", size: "200x200" %>
     <% end %>
 </p>

  <p>
   <a>6. <%= @post.processimages.first.text6 %></a>
     <% if @post.image6.attached? %>
      <%= image_tag @post.image6, size: "200x200" %>
     <% else %>
      <%= image_tag "no_image", size: "200x200" %>
     <% end %>
 </p>

  <p>
   <a>7. <%= @post.processimages.first.text7 %></a>
     <% if @post.image7.attached? %>
      <%= image_tag @post.image7, size: "200x200" %>
     <% else %>
      <%= image_tag "no_image", size: "200x200" %>
     <% end %>
 </p>

  <p>
   <a>8. <%= @post.processimages.first.text8 %></a>
     <% if @post.image8.attached? %>
      <%= image_tag @post.image8, size: "200x200" %>
     <% else %>
      <%= image_tag "no_image", size: "200x200" %>
     <% end %>
 </p>

  <p>
   <a>9. <%= @post.processimages.first.text9 %></a>
     <% if @post.image9.attached? %>
      <%= image_tag @post.image9, size: "200x200" %>
     <% else %>
      <%= image_tag "no_image", size: "200x200" %>
     <% end %>
 </p>

  <p>
   <a>10. <%= @post.processimages.first.text10 %></a>
     <% if @post.image10.attached? %>
      <%= image_tag @post.image10, size: "200x200" %>
     <% else %>
      <%= image_tag "no_image", size: "200x200" %>
     <% end %>
 </p>


<h3>参考にしたサイトURL</h3>
 <p>
   <%= @post.reference_site %>
 </p>

<h3>使用した商品</h3>
 <p>
   <%= @post.products_used %>
 </p>

<% if current_user.id == @post.user.id %>
 <%= link_to "削除", post_path(@post.id), method: :delete %> -
 <%= link_to "編集", edit_post_path(@post.id) %>
<% else %>
<% end %>


