<div class="container-breakpoint">
   <div class="row">

      <div class="col-xl-2" style="background-color: gray;">

        <div class="row my-4 mx-2 text-white">
         <div classs="profile_icon">
          <%= link_to image_tag(@post.user.get_profile_image,  class: "rounded-circle img-fluid", size: "50x50"), user_path(@post.user) %>
         </div>
         <div class="user_profile my-3 mx-2">
          <%= link_to @post.user.name, user_path(@post.user), class: "text-white" %>
         </div>

         <div class="introduct">
          <%= @post.user.introduct %>
         </div>
        </div><!--row my-4 mx-2-->

        <%= render 'users/sidebar', user: @user, tags: @tags %><!--サイドバー-->
      </div><!--サイドパーcol-xl-2-->

      <div class="col-xl-8 px-5">

        <h4 class="pt-3">作業タイトル</h4>
        <p><%= @post.title %></p>

         <h4 class="pt-3">付けられたタグ</h4>
          <% @post.tags.each do |tag| %>
          <%= link_to search_tag_path(tag_id: tag.id), class: "btn btn-outline-secondary rounded-pill btn-sm" do %>
          #<%= tag.name %>
          <% end %>
          <% end %>

        <h4 class="pt-3">作業工程</h4>

        <% @post.processimages.each.with_index(1) do |processimage, i| %>
         <p>
            <div class="border-bottom py-3">
             <%= i %>.
             <% if processimage.image.attached? %>
               <%= image_tag processimage.image.variant(resize_and_pad: [200, 200]) %>
             <% else %>
               <%= image_tag 'no_image.jpg', size: "130x130" %>
             <% end %>
              <a><%= processimage.text %></a>
            </div>
         </p>
        <% end %>

        <h4 class="pt-3">参考にしたサイトURL</h4>
         <p>
           <%= @post.reference_site %>
         </p>

        <h4 class="pt-3">使用した商品</h4>
         <p>
           <%= @post.products_used %>
         </p>

        <% if current_user.id == @post.user.id %>
         <%= link_to "投稿を削除", post_path(@post.id), method: :delete , class: 'text-white btn btn-secondary m-2' %>
        <% else %>
         <%= link_to "この投稿者の愛車自慢を見る", user_path(@post.user), class: 'text-white btn btn-secondary m-2'  %>
        <% end %>

        <!-- いいね機能 -->
        <div class="favorite my-3">
          <% if @post.favorited_by?(current_user) %>
             <%= link_to post_favorite_path(@post), method: :delete, class: "btn btn-danger rounded-pill" do %>
              ❤<%= @post.favorites.count %>いいね
             <% end %>

          <% else %>

             <%= link_to post_favorite_path(@post), method: :post, class: "btn btn-outline-danger rounded-pill" do %>
               ♡<%= @post.favorites.count %>いいね
             <% end %>
          <% end %>
        </div><!--favorite text-right-->



        <div class="comment">
         <div class="comment_views">
           <p>コメント件数:<%= @post.post_comments.count %></p>
           <% @post.post_comments.each do |post_comment| %>
            <%= image_tag post_comment.user.get_profile_image, class: "rounded-circle img-fluid", size: "50x50" %>
            <%= link_to post_comment.user.name, user_path(@post.user) %>
            <%= post_comment.comment %></br>
           <% end %>
         </div>

         <div class="comment_form">
          <%= form_with model: [@post, @post_comment] do |f| %>
           <%= f.text_field :comment, rows: '5', placeholder: "コメントする" %>
           <%= f.submit "送信", class: 'text-white btn btn-secondary m-2' %>
          <% end %>
         </div>
        </div>

       </div><!--メインコンテンツcol-xl-8-->


   </div><!--row-->
</div><!--container-->

