<h3>作業タイトル☆</h3>


 <p>
   <%= @post.title %>
 </p>

<h3>作業工程</h3>


 <p>
  <% (1..10).each do |index| %>
   <a>1. <%= @post.processimages.first."text#{index}" %></a>

     <% if @post."image#{index}".attached? %>
      <%= image_tag @post."image#{index}", size: "200x200" %>
     <% else %>
      <%= image_tag "no_image", size: "200x200" %>
     <% end %>

   <% end %>
 </p>

<h3>参考にしたサイトURL</h3>
 <p>
   <%= @post.reference_site %>
 </p>

<h3>使用した商品</h3>
 <p>
   <%= @post.products_used %>
 </p>

<% if current_user.id == @post.user.id %>
 <%= link_to "削除", post_path(@post.id), method: :delete %> -
 <%= link_to "編集", edit_post_path(@post.id) %>
<% else %>
<% end %>


