
<h3>作業タイトル☆</h3>
 <p>
   <%= @post.title %>
 </p>

<h3>作業工程</h3>
 <p>
   <a>1. </a><%= @post.processimages.first.text1 %><br/>
   <a>2. </a><%= @post.processimages.first.text2 %><br/>
   <a>3. </a><%= @post.processimages.first.text3 %><br/>
   <a>4. </a><%= @post.processimages.first.text4 %><br/>
   <a>5. </a><%= @post.processimages.first.text5 %><br/>
   <a>6. </a><%= @post.processimages.first.text6 %><br/>
   <a>7. </a><%= @post.processimages.first.text7 %><br/>
   <a>8. </a><%= @post.processimages.first.text8 %><br/>
   <a>9. </a><%= @post.processimages.first.text9 %><br/>
   <a>10. </a><%= @post.processimages.first.text10 %><br/>
 </p>

<h3>参考にしたサイトURL</h3>
 <p>
   <%= @post.reference_site %>
 </p>

<h3>使用した商品</h3>
 <p>
   <%= @post.products_used %>
 </p>

<% if current_user.id == @post.user.id %>
 <%= link_to "削除", post_path(@post.id), method: :delete %> -
 <%= link_to "編集", edit_post_path(@post.id) %>
<% else %>
<% end %>
