
<h1>作業タイトル☆</h1>
 <p>
   <%= @post.title %>
 </p>

<h3>作業工程</h3>
 <p>
   <%= @processimage.text %>
 </p>

<h3>参考にしたサイトURL</h3>
 <p>
   <%= @post.reference_site %>
 </p>

<h3>使用した商品</h3>
 <p>
   <%= @post.products_used %>
 </p>

<% if current_user.id == @post.user.id %>
 <%= link_to "削除", post_path(@post.id), method: :delete %> -
 <%= link_to "編集", edit_post_path(@post.id) %>
<% else %>
<% end %>
