<div class="card-list-container-breakpoint">
   <div class="row">
      <div class="col-8 mx-auto">
       <div class="h4 my-4 ">ユーザー一覧</div>
        <ul>
         <table class="table boeder">
          <p>
           <tr><th>id</th><th>ユーザー名</th><th>Email</th><th></th><th></th></tr>
           <% @users.each do |user| %>
            <tr><td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= link_to '詳細', admin_user_path(user.id), class: "btn btn-secondary btn-sm text-white" %></td>
            <td><%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-secondary btn-sm text-white" %></p></td>
            </tr>
           <% end %>
           </table>
        </ul>
     </div>
   </div><!--row-->
</div><!--container-->