<!DOCTYPE html>
<html>
<head>
  <title>Admin - CarLife</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

  <body class="d-flex flex-column vh-100">
    <header class="sticky-top">
      <nav class="navbar navbar-expand-xl p-1 bg-light" >
      <div class="container-fluid">
        <div class="p-3 text-white "><a class="navbar-brand text-black-50" href="/">CarLife.</a></div>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon" style="color: white;"></span>
        </button>


         <div class="collapse navbar-collapse" id="navbarNavDropdown">
           <ul class="navbar-nav ml-auto d-flex align-items-center">

            <% if admin_signed_in? %>
            <div class="text-right mx-4">
              <%= link_to "コメント一覧", admin_post_comments_path, class: "btn btn-secondary btn-sm text-white "%>
            </div>
            <div class="text-right">
              <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "btn btn-secondary btn-sm text-white" %>
            </div>
           </ul>
             <% end %>
      　  </div>
      </div>
      </nav>
    </header>

    <main class="mb-auto">
      <%= yield %>
    </main>

    <footer class="bg-light">
      <div class="container-fluid">
       <div class="row no-gutters">
        <div class="col-md-4">
         <a class="navbar-brand text-black-50" href="/">CarLife.</a>
        </div><!--col-md-4-->
       </div><!--row no-gutters-->
      </div><!--container-->
    </footer>
 　</body>
</html>