<!DOCTYPE html>
<html>
  <head>
    <title>CarLife.</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/873b907858.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body class="d-flex flex-column vh-100">
    <header>
      <nav class="navbar navbar-expand-xl p-1 bg-light" >
      <div class="container">
        <div class="p-3 text-white "><a class="navbar-brand text-black-50" href="/">CarLife.</a></div>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon" style="color: white;"></span>
        </button>


         <div class="collapse navbar-collapse" id="navbarNavDropdown">
           <ul class="navbar-nav ml-auto">



             <% if user_signed_in? %>

             <!--検索窓-->
              <%= render 'searches/search' %>

             <!--homeリンク-->
             <li class="nav-item">
               <%= link_to posts_path do  %>
               <i class="fa-solid fa-house nav-link text-dark"></i>
               <% end %>
             </li>

             <!--サインアウトリンク-->
             <li class="nav-item" >
               <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa-solid fa-right-from-bracket nav-link text-dark"></i>
               <% end %>
             </li>

             <!--ユーザーアイコンリンク-->
             <li class="nav-item">
              <%= link_to image_tag(current_user.get_profile_image,  class: "rounded-circle img-fluid", size: "50x50"), user_path(current_user.id), class: 'nav-link text-dark' %>
             </li>

             <!--投稿リンク-->
             <li class="nav-item">
              <%= link_to "投稿する", new_post_path, class: 'nav-link text-dark' %>
             </li>

             <% else %>

             <!--aboutリンク-->
             <li class="nav-item">
               <%= link_to about_path do %>
                <i class="fa-solid fa-link nav-link text-dark"></i>
               <% end %>
             </li>

             <!--新規登録リンク-->
             <li class="nav-item">
               <%= link_to "新規登録", new_user_registration_path, class: "nav-link text-dark"%>
             </li>

             <!--ログインリンク-->
             <li class="nav-item">
               <%= link_to new_user_session_path do %>
                <i class="fa-solid fa-right-to-bracket nav-link text-dark"></i>
               <% end %>
             </li>

             <% end %>

          </ul>
        </div>
      </div>
      </nav>
    </header>

    <main class="mb-auto">
      <%= yield %>
    </main>

    <footer class="bg-light">
      <div class="container">
       <div class="row no-gutters">
        <div class="col-md-4">
         <p>車好きを繋げるSNS</p>
         <a class="navbar-brand text-black-50" href="/">CarLife.</a>
        </div><!--col-md-4-->
       </div><!--row no-gutters-->
      </div><!--container-->
    </footer>
  </body>
</html>



<!--  style="background-color: white;" ←navbar白くしたい時-->